html {
      font-size: 20px;   
}

body {
      font-family: "Arial", "Meiryo", sans-serif;
      text-align: center;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem; 
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgb(115, 115, 114);
}

#name, #blood-type, #favorite-food {
    color: rgb(255, 192, 203);
}

#birthdate, #hobby, #reason {
    color: skyblue;
}

#basic p {
    font-weight: bold;
}

p {
    font-weight: normal;
}